<div class="overlay">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-white">my quotes</h1>
            <div *ngFor="let quote of quotes;let i=index">
                <p class="text-white">Quote{{quote.id}}<br>{{quote.name}}</p>
                 <button (click)=showDetails(i) class="btn btn-sm btn-primary">Show Details</button>     
                 <p class="text-white">Author: {{quote.author}}</p>
<p class="text-white">Submitted by: {{quote.submittedBy}} <br>Created on: {{quote.dateCreation|dateCount}}</p>
<button (click)="quote.upvotes=quote.upvotes+1">upvotes {{quote.upvotes}}</button>
<button (click)="quote.downVotes=quote.downVotes+1">downvotes {{quote.downVotes}}</button>
<!-- <button (click)="quoteDelete(true)">Delete</button>            -->
                <app-my-quote-details *ngIf="quote.showDetails" [quote]="quote" (isDelete)="deleteQuote($event,i)"></app-my-quote-details>
            </div>

        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div> 
    </div>
</div>
</div>
